:root {
    --rgb: black;
    --opacity: 0;
}

p {
    margin: 0px;
}

#container {
    border: thick solid black;
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(var(--grid-size), 1fr);
}

button {
    width: 100px;
    height: 40px;
    background-color: rgb(200, 200 , 200); 
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 300px;
    font-weight: bold;
    color: rgb(122, 62, 22);
    border-radius: 10px;
}

.element {
    background-color: var(--rgb);

}