:root {
    --rgb: black;
}

p {
    margin: 0px;
}

#container {
    border: thick solid black;
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    border-radius: 10px;
}

#info {
    display: grid;
}

#buttons {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    width: 700px;
    margin-bottom: 40px;
    margin-top: 30px;
}

button {
    width: 100px;
    height: 70px;
    background-color: rgb(200, 200 , 200); 
    font-weight: bold;
    color: rgb(122, 62, 22);
    border-radius: 10px;
    justify-content: space-evenly;
}

.element {
    background-color: #fff;
}
