p {
    margin: 0px;
}

#container {
    border: thick solid black;
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(var(--grid-size), 1fr);
}

/*.element {
    border: solid thin black;
}*/

button {
    width: 40px;
    height: 40px;
    background-color: pink; 
}

