
p {
    margin: 0px;
}

body {
    background-color: rgb(213, 234, 253);
}

#outer {
    display: flex;
    justify-content: center;
}

#container {
    border: thick solid black;
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    border-radius: 10px;
    background-color: white;
}

#info {
    display: grid;
    justify-content: center;
}

h1 {
    font-family: 'Pacifico', cursive;
}

#reset {
    border-radius: 47%;
    background-color: rgb(220, 220, 220);
    font-size: 35px;
    color: black;
    width: 120px;
    margin: auto;
    border: 3px solid black;
    font-family: 'Bree Serif', serif;
}

#reset:hover {
    scale: 1.1;
    transition: all 0.3s;
    background-color: rgb(228, 0, 0);
}

#buttons {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.choose {
    width: 100px;
    height: 80px;
    background-color: rgb(220, 220 , 220); 
    font-weight: bold;
    font-size: 24px;
    color: black;
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-evenly;
    font-family: 'Annie Use Your Telescope', cursive;
    border: 2px solid black
}

#btn2:hover {
    scale: 1.1;
    transition: all 0.3s;
    background-color: rgb(150, 150, 150);
}

#btn1:hover {
    scale: 1.1;
    transition: all 0.3s;
}